header{
	position: relative;
	width: 800px;
	
	margin: 0px auto;
}
header .stock{
	position: absolute;
	width: 5px;
	height: 800px;
	background-color: #fff;
	top:0px;
}
header .left{
	left:0px;
	transform-origin: top;
	-webkit-transform-origin: top;
	transform: skewX(10deg);
	-webkit-transform: skewX(10deg);
}
header .right{
	right: 0px;
	transform-origin: top;
	-webkit-transform-origin: top;
	transform: skewX(-10deg);
	-webkit-transform: skewX(-10deg);
}
.mid{
	width: 500px;
	height: 360px;
	margin: 0px auto;
	background: url(../img/head_02.png) no-repeat;
	background-size: 100% 100%;
}

.section{
	position: relative;
	width: 200px;
	margin:0px auto;
	height: 300px;
	top: -30px;
}
.sec_cont{
	position: relative;
	width: 70px;
	height: 70px;
	border-radius: 35px;
	background-color: #fff;
	margin: 0px auto;
	text-align: center;
	line-height: 50px;
  	font-size: 20px;
  	cursor: pointer;
}
.sec_anima:hover #img1,.sec_anima:hover #img2{
	transform: rotate(1800deg);
	-webkit-transform: rotate(1800deg);
	-moz-transform: rotate(1800deg);
	-ms-transform: rotate(1800deg);
}
.mar_top{
	margin-top: 50px;
}
.sec_anima{
	position: relative;
	width: 25px;
	height: 25px;
	margin: 0px auto;
}
.sec_anima img{
	margin-top:5px;
	width: 100%;
	transition: all 10s ease 0s;
	-webkit-transition: all 10s ease 0s;
	-moz-transition: all 10s ease 0s;
	-ms-transition: all 10s ease 0s;
}
.imp_name{
	color: #fff;
 	position: absolute;
 	font-size: 24px;
 	bottom: 110px;
 	right: -300px;
 	animation: updowm .5s ease infinite;
}
@-webkit-keyframes updowm{
	50%{
		bottom: 115px;
	}
	100%{
		bottom: 110px;
	}
	
}
.lefth{
	position: absolute;
	width: 200px;
	height: 200px;
	left: 10%;
	top:300px;
}
.righth{
	position: absolute;
	width: 200px;
	height: 200px;
	right: 10%;
	top:300px;
}
.allmain{
	position:relative;
	width: 100px;
	height: 100px;
	perspective: 400px;
	-webkit-perspective: 400px;
	-moz-perspective: 400px;
	-ms-perspective: 400px;
	margin:200px auto;
	perspective-origin: 50% 20%;
	-webkit-perspective-origin: 50% 20%;
	-moz-perspective-origin: 50% 20%;
	-ms-perspective-origin: 50% 20%;
	margin: 0px auto;
}
.leftmain{
	position: absolute;
	width: 100px;
	height: 100px;
	transform-style: preserve-3d;
	-webkit-transform-style:preserve-3d ;
	-moz-transform-style:preserve-3d ;
	-ms-transform-style:preserve-3d ;
	transition: transform 1s linear;
	-webkit-transition: transform 1s linear;
	-moz-transition: transform 1s linear;
	-ms-transition: transform 1s linear;
	backface-visibility:hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}
.rightmain{
	position: absolute;
	width: 100px;
	height: 100px;
	transform-style: preserve-3d;
	-webkit-transform-style:preserve-3d ;
	-moz-transform-style:preserve-3d ;
	-ms-transform-style:preserve-3d ;
	transition: transform 1s linear;
	-webkit-transition: transform 1s linear;
	-moz-transition: transform 1s linear;
	-ms-transition: transform 1s linear;
	backface-visibility:hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}
.contDiv{
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: #BFBFBF;
	border-radius: 10px;
	font-size:40px;
	color: #fff;
	text-align: center;
	line-height:100px;
	vertical-align: middle;
	opacity: .8;
}
.hand{
	width: 300px;
	height: 290px;
	margin-left: -50px;
    margin-top: 20px;
}
.lefthand{
	background: url(../img/righthand.png) no-repeat;
	background-size: 100% 100%;
}
.righthand{
	background: url(../img/lefthand.png) no-repeat;
	background-size: 100% 100%;
}
